<h1>Buttons</h1>

<DocsDemo as |demo|>
  <demo.example>
    <Button @style="primary">Primary</Button>
    <Button @style="secondary">Secondary</Button>
    <Button @style="success">Success</Button>
    <Button @style="danger">Danger</Button>
    <Button @style="warning">Warning</Button>
    <Button @style="info">Info</Button>
    <Button @style="light">Light</Button>
    <Button @style="dark">Dark</Button>
    <Button @style="link">Link</Button>
  </demo.example>

  <demo.snippet @title="Button colors" @code='
  <Button @style="primary">Primary</Button>
  <Button @style="secondary">Secondary</Button>
  <Button @style="success">Success</Button>
  <Button @style="danger">Danger</Button>
  <Button @style="warning">Warning</Button>
  <Button @style="info">Info</Button>
  <Button @style="light">Light</Button>
  <Button @style="dark">Dark</Button>
  <Button @style="link">Link</Button>
  '/>
</DocsDemo>

<h2>Outline Buttons</h2>

<DocsDemo as |demo|>
  <demo.example>
    <Button @style="primary" @outline={{true}}>Primary</Button>
    <Button @style="secondary" @outline={{true}}>Secondary</Button>
    <Button @style="success" @outline={{true}}>Success</Button>
    <Button @style="danger" @outline={{true}}>Danger</Button>
    <Button @style="warning" @outline={{true}}>Warning</Button>
    <Button @style="info" @outline={{true}}>Info</Button>
    <Button @style="light" @outline={{true}}>Light</Button>
    <Button @style="dark" @outline={{true}}>Dark</Button>
    <Button @style="link" @outline={{true}}>Link</Button>
  </demo.example>

  <demo.snippet @title="Button colors" @code='
  <Button @style="primary" @outline={{true}}>Primary</Button>
  <Button @style="secondary" @outline={{true}}>Secondary</Button>
  <Button @style="success" @outline={{true}}>Success</Button>
  <Button @style="danger" @outline={{true}}>Danger</Button>
  <Button @style="warning" @outline={{true}}>Warning</Button>
  <Button @style="info" @outline={{true}}>Info</Button>
  <Button @style="light" @outline={{true}}>Light</Button>
  <Button @style="dark" @outline={{true}}>Dark</Button>
  <Button @style="link" @outline={{true}}>Link</Button>
  '/>
</DocsDemo>

<h2>Button Sizes</h2>

<DocsDemo as |demo|>
  <demo.example>
    <Button @style="primary" @size="xs">XS button</Button>
    <Button @style="primary" @size="sm">Small button</Button>
    <Button @style="primary">Normal button</Button>
    <Button @style="primary" @size="lg">Large button</Button>
    <Button @style="primary" @size="lg" @block={{true}}>Large button button</Button>
  </demo.example>

  <demo.snippet @title="Button colors" @code='
  <Button @style="primary" @size="xs">XS button</Button>
  <Button @style="primary" @size="sm">Small button</Button>
  <Button @style="primary">Normal button</Button>
  <Button @style="primary" @size="lg">Large button</Button>
  <Button @style="primary" @size="lg" @block={{true}}>Large button button</Button>
  '/>
</DocsDemo>

<h2>Other Button States</h2>

<DocsDemo as |demo|>
  <demo.example>
    <Button @style="primary" @size="lg" @disabled={{true}}>Disabled button</Button>
    <Button @style="primary" @size="lg" @loading={{true}}>Loading button</Button>
    <Button @style="danger" @size="lg" @muted={{true}}>Muted button</Button>
    <Button @style="primary" @circle={{true}}><FaIcon @icon="check"/></Button>
  </demo.example>

  <demo.snippet @title="Button colors" @code='
  <Button @style="primary" @size="lg" @disabled={{true}}>Disabled button</Button>
  <Button @style="primary" @size="lg" @loading={{true}}>Loading button</Button>
  <Button @style="danger" @size="lg" @muted={{true}}>Muted button</Button>
  <Button @style="primary" @circle={{true}}><FaIcon @icon="check"/></Button>
  '/>
</DocsDemo>

<h2>Button tooltips</h2>

<DocsDemo as |demo|>
  <demo.example>
    <Button @style="primary" @tooltip="Example tooltip">Primary</Button>
    <Button @style="warning" @size="lg" @tooltip="Another tooltip" @tooltipPlacement="left">Warning</Button>
  </demo.example>

  <demo.snippet @title="Button colors" @code='
  <Button @style="primary" @tooltip="Example tooltip">Primary</Button>
  <Button @style="warning" @size="lg" @tooltip="Another tooltip" @tooltipPlacement="left">Warning</Button>
  '/>
</DocsDemo>
