{{#if label}}
  <label for={{labelRef}}>{{label}}</label>
{{/if}}

{{#if inputGroup}}
  <div class="input-group">
    {{yield}}
  </div>
{{else}}
  {{yield}}
{{/if}}

{{#if errorMessage}}
  <p class="text-danger">
    {{errorMessage}}
  </p>
{{/if}}


{{#if hint}}
  <p class="text-muted">
    {{hint}}
  </p>
{{/if}}
