{{#inputs/input-wrapper labelRef=labelRef model=model attribute=attribute label=label hint=hint inputGroup=true}}
  <span class="input-group-btn" {{action "addonClick"}}>
    <button class="btn btn-secondary" type="button" {{action "addonClick"}}>
      {{in-icon "lock" fixedWidth=true}}
    </button>
  </span>

  <input id={{labelRef}} placeholder="password" type={{inputType}} value={{value}} class="form-control" />

  <span class="input-group-btn">
    {{#if (is-equal inputType "password")}}
      <button class="btn btn-outline-secondary" type="button" {{action "changeInputType"}}>
        {{in-icon "eye" fixedWidth=true}}
      </button>
    {{else}}
      <button class="btn btn-danger" type="button" {{action "changeInputType"}}>
        {{in-icon "eye-slash" fixedWidth=true}}
      </button>
    {{/if}}
  </span>
{{/inputs/input-wrapper}}
