<title>{{model.title}}</title>
<meta property="description" content={{model.description}} />

<meta property="og:type" content="website" />
{{#if model.ogTitle}}
  <meta property="og:title" content={{model.ogTitle}} />
{{else}}
  <meta property="og:title" content={{model.title}} />
{{/if}}

{{#if model.ogDescription}}
  <meta property="og:description" content={{model.ogDescription}} />
{{else}}
  <meta property="og:description" content={{model.description}} />
{{/if}}

<meta property="og:image" content="{{model.ogImage}}">
<meta property="og:url" content="{{model.url}}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@izelnakri">
<meta name="twitter:creator" content="@izelnakri">

{{#if model.twitterTitle}}
  <meta name="twitter:title" content="{{model.twitterTitle}}">
{{else}}
  <meta name="twitter:title" content="{{model.title}}">
{{/if}}

{{#if model.twitterDescription}}
  <meta name="twitter:description" content="{{model.twitterDescription}}">
{{else}}
  <meta name="twitter:description" content="{{model.description}}">
{{/if}}
<meta name="twitter:image" content="{{model.twitterImage}}">
