<div class="card card-block">
  <h1>{{model.title}}</h1>
  <ul class="list-inline text-muted d-flex justify-content-end hidden-sm-down">
    <li class="list-inline-item mr-auto"><i class="fa fa-terminal fa-fw"></i>{{model.user.person.fullName}}</li>
    <!-- tags here -->
    <li class="list-inline-item"><i class="fa fa-tags fa-fw"></i>{{model.tag}}</li>
    <li class="list-inline-item"><i class="fa fa-clock-o fa-fw"></i>{{date model.insertedAt}}</li>
  </ul>

  <ul class="list-inline text-muted hidden-sm-up">
    <!-- tags here -->
    <li class="list-inline-item"><i class="fa fa-tags fa-fw"></i>{{model.tag}}</li>
    <li class="list-inline-item"><i class="fa fa-clock-o fa-fw"></i>{{model.insertedAt}}</li>
  </ul>

  {{{content}}}
</div>
